<!DOCTYPE html>
<html>
	<head>
		<title>HOME_DOM</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/static/style.css" rel="stylesheet" type="text/css"/>
		<link rel="icon" type="image/png" href="/static/img/docker.png" />
	</head>
	<body>
        <ul class="menu">
            <li class="bouton_menu_1"><a href="javascript:void(0);">SENSORS</a></li>
            <li class="bouton_menu_2"><a href="javascript:void(0);">MENU 2</a></li>
            <li class="bouton_menu_3"><a href="javascript:void(0);">MENU 3</a></li>
            <li class="bouton_menu_4"><a href="javascript:void(0);">MENU 4</a></li>
        </ul>
        <div class="menu_1">
            <div class="bloc_meteo">
                <input class="meteo_title" type="button" value="METEO SENSOR">
                <input class="meteo_temperature" type="button" value="20,5°C">
                <input class="meteo_humidity" type="button" value="55%">
                <input class="meteo_rssi" type="button" value="-55dB">
                <input class="meteo_date" type="button" value="10-12-2017:17h15">
            </div>
            <div class="bloc_contact">
                <input class="contact_title" type="button" value="CONTACT SENSOR">
                <input class="contact_contact" type="button" value="OPEN">
                <input class="contact_rssi" type="button" value="-55dB">
                <input class="contact_date" type="button" value="10-12-2017:17h15">
            </div>
            <div class="bloc_relay">
                <input class="relay_title" type="button" value="RELAY MODULE">
                <input class="relay_channel_1" type="button" value="ON">
                <input class="relay_channel_2" type="button" value="OFF">
                <input class="relay_rssi" type="button" value="-55dB">
                <input class="relay_date" type="button" value="10-12-2017:17h15">
            </div>
            <div class="bloc_lifx">
                <input class="lifx_title" type="button" value="LIFX BULB">
                <input class="lifx_on" type="button" value="TURN ON">
                <input class="lifx_off" type="button" value="TURN OFF">
                <input class="lifx_color_r" type="range" value="128" max="255" min="0" step="1">
                <input class="lifx_color_g" type="range" value="128" max="255" min="0" step="1">
                <input class="lifx_color_b" type="range" value="128" max="255" min="0" step="1">
                <input class="lifx_intensity" type="range" value="50" max="100" min="0" step="1">
            </div>
        </div>
	<script src="/templates/js/connect_enocean_ws.js"></script>
	<script src="/templates/js/menu_switch.js"></script>
	</body>
</html>
